*.glb filter=lfs diff=lfs merge=lfs -text

# Force LF (Unix) line endings for everything.
* text=auto eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.md text eol=lf

# Force gradlew to be LF (Unix) so it works on Linux/Mac
gradlew text eol=lf

# Force the Windows wrapper to be CRLF
gradlew.bat text eol=crlf
